@font-face {
  font-family: 'VT323';
  src: url('@/assets/fonts/VT323-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Handjet';
  src: url('@/assets/fonts/Handjet.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Condensed';
  src: url('@/assets/fonts/UbuntuCondensed-Regular.ttf') format('truetype');
}